{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-4">Mes commandes</h1>

        {% if commandes is empty %}
            <div class="alert alert-info" role="alert">
                Vous n'avez passé aucune commande.
            </div>
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Numéro</th>
                        <th>Date</th>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Montant</th>
                        <th>État</th>
                    </tr>
                </thead>
                <tbody>
                    {% for commande in commandes %}
                        <tr>
                            <td>{{ commande.id }}</td>
                            <td>{{ commande.dateEnregistrement|date('d/m/Y') }}</td>
                            <td>{{ commande.idProduit.titre }}</td>
                            <td>{{ commande.idProduit.prix / 100|number_format() }} €</td>
                            <td>{{ commande.quantity }}</td>
                            <td>{{ commande.montant / 100|number_format() }} €</td>
                            <td>{{ commande.etat }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
