{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Inscription</h1>

    {{ form_errors(registrationForm) }}


    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.prenom, {
            label : 'Prenom'
        }) }}
        {{ form_row(registrationForm.nom, {
            label : 'Nom'
        }) }}
        {{ form_row(registrationForm.pseudo, {
            label : 'Pseudo'
        }) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.civilite, {
            label : 'Civilité'
        }) }}
        
        {{ form_row(registrationForm.plainPassword) }}


        <button type="submit" class="btn border btn-info">S'inscrire</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
